.flexibale-contanier{
    display: flex;
    padding: 5%;
    background-repeat: no-repeat;
}
.meat{
    width: 50%;
    padding-left: 3%;
    padding-right: 5%;
    text-align: center;
}
.meat img{
    width: 80%;
}
.fish{
    color: coral;
}
h1{
    font-size: 50px;
}
body{
    font-family: 'Lobster', cursive;
}
.kala{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.top-bennar{
    background-image: url(images/shapes/7.png);
}
.bennar{
    background-image: url(images/shapes/Frame\ 58.jpg);
}
.flash{
    text-align: center;
}
#kola{
    text-align: center;
}
.bana{
    padding: 40px;
    margin: auto;
}
.meaw{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    text-align: center;
    padding: 3%;
}
.meaw img{
    width: 80%;
    padding: 10%;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.mear{
    width:40%;
    margin-top: 1%;
    margin-bottom: 2%;
    box-shadow: 10px 10px 50px gray;
    text-align: center;
    padding: 3%;
    border-radius: 10%;
}
h3{
    text-align: center;
    color: white;
    
}
footer{
    background-color: black;
}
#kodu{
    color:white;
}