section{
    display: flex;
    padding: 3%;
    background-repeat: no-repeat;
}
.meat{
    width: 50%;
    padding-left: 3%;
    padding-right: 5%;
    text-align: center;
}
.meat img{
    width: 80%;
}
.fish{
    color: coral;
}
h1{
    font-size: 50px;
}
body{
    font-family: 'Lobster', cursive;
}
.kala{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.top-bennar{
    background-image: url(images/shapes/7.png);
}
.bennar{
    background-image: url(images/shapes/Frame\ 58.jpg);
}
.flash{
    text-align: center;
}
